.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: var(--slack-color);
    color:white;

}
.header_left{
    flex :0.3;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.header_search{
    flex:0.4;
    text-align: center;
    display: flex;
    padding: 0 10px;
    border : 1px gray solid;
    border-radius: 6px;
    color : gray;
}
.header_search > input{
    background-color: transparent;
    border : none;
    text-align: center;
    min-width: 40vh;
    width: 100%;
    outline: none;
}
.header_search > .MuiSvgIcon-root{
    margin-left: 0;
    margin-right: auto;

}
.header_right{
    flex:0.3;
    display: flex;
    align-items: flex-end;
}

.header_right > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 50px;
}
